

body {
  margin: 0;
  height: 100vh; /* Set body height to 100% of viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* header */
header {
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 1000; /* Set a high z-index to ensure the navbar is on top of other content */
}
nav {
  background: linear-gradient(270deg,#11111b			, #181825		, #1e1e2e		);
  animation: gradient-animation 33s ease infinite;
  background-size: 1000% 1000%;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: auto; 
}

nav li.logo img {
  height: 100%;
  margin-left: 10%;
  margin-top: 2%;
  width: 100%; 
  max-width: 75px; 
  border-radius: 80%;
  /* Set the border style, width, and color */
  border: 2px solid transparent;

  /* Set the gradient for the border */
  border-image: linear-gradient(to right, red, blue);

  /* Ensure that the gradient covers the entire border */
  border-image-slice: 1;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes dash {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10px 0; /* Adjust the distance between dots */
  }
}
#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}

#video-background {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: blur(8px); 
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.998);
  z-index: -1; 
}
.info-main{
  background-color: rgba(102, 51, 153, 0.5);
  color: wheat;
}
.container-body{
    max-width: 60%;
    margin: 0 auto;
}
#grid {
  display: inline-grid;
  background-color: red;
  margin: 10px 1px 0;
  border-radius: 10px;
}

@media (min-width: 400px) {
  #grid {
    grid-template-columns:1fr 2fr 1fr;
  }
}

@media (max-width: 750px) {
  #grid {
    grid-template-columns: 1fr 1fr;
  }
}
