@font-face {
  font-family: 'UnifontEx';
  src: url('../statics/fonts/UnifontExMono.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'azukiB';
  src: url('../statics/fonts/azukifontB.woff2') format('woff2');
  font-display: swap;
}
:root{
  --primary-color: #F9B7B5;
  --secondary-color: #F8E8EE;
  --tertiary-color: #F7DAD9;
}
* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  }

html {
  cursor: url(../statics/cursors/default.svg) 1 1, auto;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  font-family: system-ui, sans-serif;
}
section{
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 1000;
}
.itemBtn{
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 10px;
border: none;
}
.mainInfo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

.topbar {
  font-family: 'unifontEx';
  align-items: center;
  animation: gradient-animation 10s ease infinite;
  background: #ffdedeaa;
  background-size: 1000% 1000%;
  border-radius: 80px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.topbarElements {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pfp {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.userPfp {
  margin: 5px;
}

.userPfp img {
  width: 75px;
  height: 75px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-left: 5%;
  padding: 4.5px;
  border-radius: 100%;
  box-sizing: border-box;
  background: radial-gradient(circle, rgb(255, 166, 166), rgb(255, 192, 192), rgb(255, 238, 238), rgb(255, 192, 192), rgb(255, 166, 166));
  animation: profimg 10s linear infinite;
  background-size: 400% 400%;
}

@keyframes profimg {
  0% {
    background-position: 0% 0%;
  }

  12.5% {
    background-position: 25% 25%;
  }

  25% {
    background-position: 50% 50%;
  }

  37.5% {
    background-position: 75% 75%;
  }

  50% {
    background-position: 100% 100%;
  }

  62.5% {
    background-position: 75% 75%;
  }

  75% {
    background-position: 50% 50%;
  }

  87.5% {
    background-position: 25% 25%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  background-color: #EEEFF0;
}

.info-main {
  flex: 2;
  font-family: 'azukiB';
  font-size: 1.6em;
  background-color: #FFFFFF;
  color: #866f6f;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  transition: 0.4s;
}

.info-main h3 {
  font-family: 'UnifontEx';
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
}

.info-main p {
  text-align: center;
}

.info-main:hover {
  background-color: #ffedef;
  color: #6A4B5A;
  padding: 10px;
  border-radius: 40px;
  margin: 10px;
  transition: .4s;
  cursor: url(../statics/cursors/pointer.svg) 10 10, pointer;
  ;
}

.info-alt {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
}

.info-alt img {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 300px;
  height: 300px;
  border-radius: 100%;

}
.nextSection {
  display: flex;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  rotate: 180deg;

}
.nextSectionBtn {
  animation: slideUp 10s ease;
}
.nextSection svg {
  
  width: 1.3em;
  height: 1.3em;
  rotate: 180deg;
  fill: #ffffff;
}

.sectionBtn {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
  font-size: 1.4em;
  transition: .4s;
  border: none;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container-body {
  width: 65%;
  position: absolute;
  z-index: 1; 
  margin-top: 75px;
  max-height: calc(100vh - 118px);
  overflow-y: auto; 
  overflow-x: hidden;
  scrollbar-width: none;
}
.container-body::-webkit-scrollbar {
  display: none;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 1px;
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.grid-container-top {
  background-color: #fadee1bd;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grid-container-interactive {
  background-color: #fadee1bd;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}

.mainControl {
  font-size: 1.6em;
  flex: 2;
  display: flex;
  justify-content: center;
}

.navItems {
  background-color: #F8E8EE;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 5px;
  padding: 20px;
  font-size: 1.4em;
  border-radius: 10px;
  text-shadow: 2px 2px 4px #565656;

}

.navItems svg {
  padding: 5px;
  user-select: none;
  border-radius: 10px;
  background-color: #F9B7B5;
  fill: #F8F9FA;
  width: 2em;
  height: 2em;
  text-shadow: 2px 2px 4px #563a3a;
  font-weight: bold;
  cursor: url(../statics/cursors/pointer.svg) 10 10, pointer;
  ;
  transition: .4s;
}
.dropdownThemes{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 95%;
  font-size: 0.5em;
  background-color: #fadee1bd;
  padding: 10px;
  border-radius: 15px;
}
.dropdownThemes a{
text-decoration: none;
margin: 5px;
}
.navItems svg:hover {
  background-color: #F8E8EE;
  fill: black;
  padding: 5px;
  border-radius: 40px;
  transition: .4s;
  cursor: url(../statics/cursors/pointer.svg) 10 10, pointer;
}

.access {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  flex: 1;

}

.logText {
  display: inline-block;
}

.evenInput {
  background-color: #FFF7C5;
  align-items: center;
  font-size: 1.6em;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  /* Hide the outline */
  text-shadow: 2px 2px 4px #565656;
  font-family: 'UnifontEx';
}

.input-checker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-checker input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.6em;
  text-shadow: 2px 2px 4px #565656;
  font-family: 'UnifontEx';
  background-color: #ffffff;
  border: none;
  outline: none;
  text-align: center;
}

.evenInput[type="number"]::-webkit-inner-spin-button,
.evenInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.evenInput[type="number"] {
  -moz-appearance: textfield;
}

.grid-output {
  color: #161A1E;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: #F7DAD9;
  margin: 10px 1px;
  border-radius: 10px;
  justify-content: space-between;
  font-family: 'UnifontEx';
  font-size: 1.2em;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.top-output {
  margin: 10px;
  text-align: center;
  font-size: .9em;
}

.button-output {
  max-height: 170px;
  overflow: auto;
  color: #161A1E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.button-output p {
  text-shadow: 2px 2px 4px #565656;
  transition: 2s;
}

.info-output {
  width: 350px;
}

.button-output:hover {
  cursor: url(../statics/cursors/pointer.svg) 10 10, pointer;
  ;
}

.grid-container-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fadee1bd;
  width: auto;
  border-radius: 10px;
  justify-content: space-between;
  font-family: 'UnifontEx';
}
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionTitle{
  font-family: 'uniFontEx';
  font-size: 2.8em;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fadee1bd;
  color: #866f6f;

}
.card {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffff;
  cursor: url(../statics/cursors/pointer.svg) 10 10, pointer;
  transition: .4s;

}
.projects {
  margin: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #fadee1bd;
  border-radius: 10px;
  cursor: url(../statics/cursors/pointer.svg) 10 10, pointer;
}

.project-card {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: #EEEFF0;
  cursor: url(../statics/cursors/pointer.svg) 10 10, pointer;
  transition: .4s;
}

.project-card::before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.top-project-card {
  display: flex;
  flex: 1;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.top-project-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.subtextProject {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 10px 10px;
  color: #eeeeee;
  user-select: none;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
}

.buttom-project-card {
  position: relative;
  text-align: left;
  flex: 1;
}

.buttom-project-card h1 {
  text-align: center;

}

.icons-projects {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4em;
  margin: 10px;
  text-align: center;
  text-shadow: none;
}

.icons-projects i {
  background: -webkit-linear-gradient(150deg, #FFDEDE 25%, #EEEFF0 35%, #FFDEDE 60%, #EEEFF0 75%) 0% 0% / 300% 300%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.carousel-section {
  margin-top: 50px;
}
.carousel {
  position: relative;

}

.carousel-item img {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.6em;
  transition: .4s;
  width: 100%;
  object-fit: cover;
}

.itemToRight {
  animation: fadeInImg 1s;
}

.itemToLeft {
  animation: fadeInImg 1s;
}

@keyframes fadeInImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

.bgcarousel {
  padding: 20px;
  margin: 50px 0px;
  background-color: #fadee1bd;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  z-index: 7;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

@media screen and (max-width: 1100px) {
  .container-body {
    width: 80%;
  }

  .info-alt img {
    width: 300px;
    height: 300px;
  }

  .info-main {
    font-size: 1.2em;
  }

  .navItems {
    padding: 15px;
    font-size: 1em;
  }

  .navItems a {
    padding: 6px;
  }

  .button-output {
    max-height: 150px;
    font-size: 1em;
  }




}

@media (max-width: 770px) {
  .prev {
    left: 0;
  }

  .container-body {
    margin-top: 62px;
    width: 90%;
    padding: 0 20px;
  }

  .grid-container-top {
    flex-direction: column-reverse;
  }

  .topbar {
    margin: 10px 0;
    padding: 1px;
  }

  .topbarElements {
    gap: 4px;
  }

  .userPfp img {
    width: 65px;
    height: 65px;
  }

  .info-alt img {
    width: 200px;
    height: 200px;
  }

  .info-main {
    border-radius: 20px;
    font-size: 1.6em;
  }

  .navItems {
    padding: 15px 5px;
    font-size: .9em;
    gap: 8px;

  }

  header {
    width: 95%;
  }

  .navItems a {
    padding: 6px;
  }

  .grid-container-card {
    flex-flow: column;
    font-size: 1em;
    flex-direction: column;
  }

  .grid-output {
    font-size: 1em;
    width: 100%;
  }

  .top-output {
    font-size: 0.8em;
  }

  .info-output {
    width: 100%;
  }

  .button-output {
    flex: 1;
    max-height: 150px;
    font-size: 1em;
    padding: 10px;
  }

  .card {
    font-size: 1em;
    height: auto;
    flex: 1;
    flex-basis: 0;
  }

  .carousel-item img {
    width: 100%;
  }
  .sectionTitle{
    font-size: 2em;
    margin: auto;
  }
  .projects {
    align-items: center;
    margin: 20px auto;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
